body {
  height: 100%; /* For use percent height in full slides */
}

#fancybox-content pre.code {
  width: 80%;
  overflow: visible;
  font-size: 2em;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  color: #000;
  padding: 1em;
}

.lesson .slide {
  z-index: 1;
  opacity: 0;
  transition: .5s opacity ease-in;
  -webkit-transition: .5s opacity ease-in;
  -moz-transition: .5s opacity ease-in;
}

.lesson .slide:target {
  z-index: 100;
  opacity: 1;
  transition: .5s opacity ease-out;
  -o-transition: .5s opacity ease-out;
  -webkit-transition: .5s opacity ease-out;
  -moz-transition: .5s opacity ease-out;
}

.slide {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 700px;
  overflow: hidden;
  background-color: #d5e9f6;
}

.slide a, .slide a:visited {
  color: #006;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: .2em;
  border-bottom: .1em solid #006;
}

.slide abbr {
  padding-bottom: .1em;
  border-bottom: 2px dotted #222;
  cursor: help;
}

.slide code {
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.slide div.content {
  font-size: 1.5em;
  margin-top: 4em;
  padding: 1em 2em;
  z-index: 1;
}

.slide div.code_node {
  font-size: 1.5em;
}

.slide div.text_node code {
  color: #fff;
  background: #c00;
  padding: .1em .1em .05em;
  line-height: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4), 0 .9em .5em -0.2em rgba(255, 255, 255, .2) inset;
}

.slide div.text_node h1 {
  text-shadow: 1px 1px 6px #666666;
}

.slide div.text_node, .slide div.code_node {
  margin: .5em 0em;
}

.slide div.text_node h1 {
  font-size: 2em;
}

.slide div.text_node h2 {
  font-size: 1.5em;
}

.slide div.text_node h3 {
  font-size: 1.2em;
}

.slide div.text_node p {
  font-size: 2.5em;
}

.slide div.text_node p.footnote {
  position: fixed;
  bottom: 3.5em;
  left: 1em;
  font-size: .75em;
  font-style: italic;
}

.slide div.text_node p sup.footnote {
  font-size: .5em;
  margin-left: .25em;
}

.slide div.text_node ul, .slide div.text_node ol {
  margin-left: 1.5em;
  font-size: 2.5em;
}

.slide header {
  position: fixed;
  padding: 1em 0em;
  font-size: 1.25em;
  color: #ffffff;
  background-color: #c00;
  text-shadow: 0px 0px 3px #fff;
  top: 0px;
  width: 100%;
  z-index: 50;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
}

.slide header h1 {
  font-size: 3em;
  float: left;
  font-weight: bold;
  margin-left: 1em;
  white-space: nowrap;
}

.slide header p.number {
  position: absolute;
  font-size: 1.5em;
  top: 1em;
  right: 1em;
  font-weight: bold;
  padding: .1em .5em;
  background: hsla(0, 100%, 100%, .4);
  border: .2em solid rgba(255, 255, 255, .2);
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.slide nav.links {
  position: absolute;
  display: block;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  width: 1em;
  height: 100%;
  color: #222;
  background-color: #fff9d8;
  opacity: .5;
  font-size: 1.25em;
  overflow: hidden;
  transition: 1s opacity ease-in, .75s width ease-out;
  -o-transition: 1s opacity ease-in, .75s width ease-out;
  -webkit-transition: 1s opacity ease-in, .75s width ease-out;
  -moz-transition: 1s opacity ease-in, .75s width ease-out;
}

.slide nav.links > div {
  padding: .5em 1em;
  opacity: 0;
  transition: .1s opacity ease-in;
  -o-transition: .1s opacity ease-in;
  -webkit-transition: .1s opacity ease-in;
  -moz-transition: .1s opacity ease-in;
}

.slide nav.links span.arrow_left {
  position: absolute;
  left: 0px;
  margin-top: .75em;
}

.slide nav.links:hover {
  opacity: 1;
  width: 40em;
  transition: 1s opacity ease-out, .75s width ease-in;
  -o-transition: 1s opacity ease-out, .75s width ease-in;
  -webkit-transition: 1s opacity ease-out, .75s width ease-in;
  -moz-transition: 1s opacity ease-out, .75s width ease-in;
}

.slide nav.links:hover > div {
  opacity: 1;
  transition: .1s .9s opacity ease-out;
  -o-transition: .1s .9s opacity ease-out;
  -webkit-transition: .1s .9s opacity ease-out;
  -moz-transition: .1s .9s opacity ease-out;
}

.slide nav.links:hover span.arrow_left {
  display: none;
}

.slide nav.links a, .slide nav.links a:visited {
  font-weight: bold;
  color: #666666;
  border: none;
  text-decoration: underline;
}

.slide nav.links .ui_control a {
  text-decoration: none;
}

.slide footer {
  position: fixed;
  display: block;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  opacity: .75;
  background-color: #222;
}

.slide footer > div {
  padding: .5em 2em;
  height: 2em;
}

.slide footer time {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
}

.slide footer .author {
  float: left;
  font-size: 1.5em;
  color: #ffffff;
  opacity: 1;
}

.slide footer .author a {
  font-weight: bold;
  color: #ee3f3f;
  border-bottom: 2px solid #ee3f3f;
}

.slide table.summary {
  width: 80%;
  margin: 0% auto;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 1.5em;
  box-shadow: .5em .5em .5em #999;
  -moz-box-shadow: .5em .5em .5em #999;
  -webkit-box-shadow: .5em .5em .5em #999;
}

.slide table.summary td {
  padding: .5em 1em;
}

.slide table.summary th {
  font-weight: bold;
  text-align: left;
  background-color: #222;
  color: #fff;
  padding: .5em 1em;
  border-bottom: 4px solid #c00;
  text-shadow: 0 0 .5em #fff;
}

.slide .big_font {
  font-size: 4em !important;
}

.slide .caps {
  font-weight: bold;
}

.slide .code_form {
  margin: 1em 0em;
}

.slide .code_form textarea {
  font-size: 1.5em;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  width: 100%;
}

.slide .glass_box {
  background: transparent;
  padding: .25em;
  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  box-shadow: 0 2px 6px rgba(0,0,0, .5), 0 1px rgba(255,255,255, .3) inset, 0 10px rgba(255,255,255, .2) inset, 0 10px 20px rgba(255,255,255, .25) inset, 0 -15px 30px rgba(0,0,0, .3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0, .5), 0 1px rgba(255,255,255, .3) inset, 0 10px rgba(255,255,255, .2) inset, 0 10px 20px rgba(255,255,255, .25) inset, 0 -15px 30px rgba(0,0,0, .3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0, .5), 0 1px rgba(255,255,255, .3) inset, 0 10px rgba(255,255,255, .2) inset, 0 10px 20px rgba(255,255,255, .25) inset, 0 -15px 30px rgba(0,0,0, .3);
}

.slide .glow {
  color: #ffffff;
  opacity: .75;
  text-shadow: 0 0 .2em #333, 0 0 .5em #222;
  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
}

.slide .node {
  position: relative;
}

.slide .node a.edit_code {
  position: absolute;
  font-size: .75em;
  top: .5em;
  right: 1.25em;
}

.slide .normal_font {
  font-size: .5em !important;
  font-weight: normal;
}

.slide .medium_font {
  font-size: .75em !important;
  font-weight: normal;
}
