body {
  height: 100%; /* For use percent height in full slides */
}

#fancybox-content pre.code {
  width: 80%;
  overflow: visible;
  font-size: 2em;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  color: #000;
  padding: 1em;
}

.lesson .slide {
  z-index: 1;
  opacity: 0;
  transition: .5s opacity ease-in;
  -webkit-transition: .5s opacity ease-in;
  -moz-transition: .5s opacity ease-in;
}

.lesson .slide:target {
  z-index: 100;
  opacity: 1;
  transition: .5s opacity ease-out;
  -webkit-transition: .5s opacity ease-out;
  -moz-transition: .5s opacity ease-out;
}

.slide {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
  background-color: #d5e9f6;
}

.slide a, .slide a:visited {
  color: #006;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: .2em;
  border-bottom: .1em dotted #006;
}

.slide div.content {
  font-size: 1.75em;
  margin-top: 4em;
  padding: 1em 2em;
}

.slide div.code_node {
  font-size: 1.5em;
}

.slide div.text_node h1 {
  text-shadow: 1px 1px 6px #666666;
}

.slide div.text_node, .slide div.code_node {
  margin: .5em 0em;
}

.slide div.text_node h1 {
  font-size: 2em;
}

.slide div.text_node h2 {
  font-size: 1.5em;
}

.slide div.text_node h3 {
  font-size: 1.2em;
}

.slide div.text_node ul, .slide div.text_node ol {
  margin-left: 2em;
  font-size: 2.5em;
}

.slide header {
  padding: 1em 0em;
  font-size: 1.25em;
  color: #ffffff;
  background-color: #c00;
  text-shadow: 0px 0px 3px #fff;
  position: absolute;
  top: 0px;
  width: 100%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
}

.slide header h1 {
  font-size: 3em;
  float: left;
  font-weight: bold;
  margin-left: 1em;
}

.slide header p.number {
  font-size: 1.5em;
  float: right;
  font-weight: bold;
  padding: .1em .5em;
  margin: .4em 1em;
  background: hsla(0, 100%, 100%, .4);
  border: .2em solid rgba(255, 255, 255, .2);
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.slide nav.links {
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  font-size: .75em;
  background-color: #fff9d8;
  opacity: 0;
}

.slide nav.links:hover {
  opacity: 1;
  transition: 1s opacity;
  -webkit-transition: 1s opacity;
  -moz-transition: 1s opacity;
}

.slide nav.links a, .slide nav.links a:visited {
  font-weight: bold;
  color: #666666;
  border: none;
  text-decoration: underline;
}

.slide nav.links > div {
  padding: 1em;
}

.slide p {
  font-size: 2.5em;
}

.slide .big_font {
  font-size: 1in !important;
}

.slide .code_form {
  margin: 1em 0em;
}

.slide .code_form textarea {
  font-size: 1.5em;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  padding: .5em;
  width: 100%;
}

.slide .glass_box {
  background: transparent;
  padding: .25em;
  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  box-shadow: 0 2px 6px rgba(0,0,0, .5), 0 1px rgba(255,255,255, .3) inset, 0 10px rgba(255,255,255, .2) inset, 0 10px 20px rgba(255,255,255, .25) inset, 0 -15px 30px rgba(0,0,0, .3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0, .5), 0 1px rgba(255,255,255, .3) inset, 0 10px rgba(255,255,255, .2) inset, 0 10px 20px rgba(255,255,255, .25) inset, 0 -15px 30px rgba(0,0,0, .3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0, .5), 0 1px rgba(255,255,255, .3) inset, 0 10px rgba(255,255,255, .2) inset, 0 10px 20px rgba(255,255,255, .25) inset, 0 -15px 30px rgba(0,0,0, .3);
}

.slide .glow {
  padding: 0em .25em;
  color: #ffffff;
  background: #333;
  opacity: .5;
  text-shadow: 0 0 .2em #fff, 0 0 .5em #fff;
  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
}

.slide .node {
  position: relative;
}

.slide .node a.edit_code {
  position: absolute;
  font-size: .75em;
  top: .5em;
  right: 1.25em;
}

.slide .normal_font {
  font-size: .25in !important;
}
