<div id="alert">
  <p><%= flash.alert %></p>
  <div id="close_alert">
    <%= link_to 'X', '#', title: t('label.close'), data: {
      event: 'removeItem', target: '#alert'
    } %>
  </div>
</div>
<%= javascript_tag "$('#alert').delay(7000).fadeOut();" %>