<div class="navbar navbar-inverse navbar-fixed-top not-printable">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="iconic">&#xe055;</span>
      </a>
      
      <%= link_to t('app.name'), root_path, class: 'brand' %>
      
      <div class="nav-collapse">
        <ul class="nav">
          <%= content_tag(
            :li, link_to(t('menu.courses'), courses_path),
            class: ('active' if controller_name == 'courses')
          ) %>
          <%= content_tag(
            :li, link_to(t('menu.images'), images_path),
            class: ('active' if controller_name == 'images')
          ) %>
        </ul>
      </div>
    </div>
  </div>
</div>
