<div id="notice">
  <p><%= flash.notice %></p>
  <div id="close_notice">
    <%= link_to 'X', '#', title: t('label.close'), data: {
      event: 'removeItem', target: '#notice'
    } %>
  </div>
</div>
<%= javascript_tag "$('#notice').delay(7000).fadeOut();" %>