<% if @lesson.slides.empty? %>
  <div class="alert">
    <h3 class="alert-heading">
      <%= t('view.lessons.without_slides') %>
    </h3>
    
    <br />
    <%= link_to(
      t('view.lessons.add_slide'), new_lesson_slide_path(@lesson),
      class: 'btn btn-warning'
    ) %>
  </div>
<% end %>
<div class="lesson">
  <% @lesson.slides.each_with_index do |slide, i| %>
    <%= render slide, lesson: @lesson, last: (@lesson.slides.size == i + 1) %>
  <% end %>
</div>
