<% if @lesson.slides.empty? %>
  <p><%= t(:'view.lessons.without_slides') %></p>
  <nav class="links">
    <%= link_to t(:'view.lessons.add_slide'), new_lesson_slide_path(@lesson) %>
  </nav>
<% end %>
<div class="lesson">
  <% @lesson.slides.each do |slide| %>
    <%= render :partial => 'slides/slide_content', :locals => {
      :slide => slide, :lesson => @lesson
    } %>
  <% end %>
</div>
<script type="text/javascript">
var Slide = {
  currentNumber: function() {
    var number = window.location.hash.match(/\d+$/);
    
    if(number) { return parseInt(number[0]); }
  },

  next: function() {
    return (Slide.currentNumber() || 0) + 1;
  },

  prev: function() {
    return (Slide.currentNumber() || 0) - 1;
  },

  show: function(number) {
    window.location.hash = "#slide-" + number;
    
    Slide.updateTitle();
  },
  
  updateTime: function() {
    $('div.slide footer time').text(new Date().toLocaleTimeString());
    
    window.setTimeout(Slide.updateTime, 1000);
  },
  
  updateTitle: function() {
    var number = Slide.currentNumber() || 0;
    var slide = "#slide-" + number;
    var title = $('h1', $('header', $(slide))).text();
    
    $('head title').text(title + ' (' + number + ')');
  }
};

jQuery(function($) {
  var firstSlide = '<%= @lesson.slides.first.try(:number) %>';
  
  if(!window.location.href.match(/#/) && firstSlide != '') {
    Slide.show(firstSlide);
  }

  $(document).keydown(function(e) {
    var key = e.which;
    // 39 = right arrow, 34 = page down, 40 = down arrow, 13 = enter
    var nextKeys = State.limitNavigation ? [] : [39, 34, 40, 13];
    // 37 = left arrow, 33 = page up, 38 = up arrow, 8 = backspace
    var prevKeys = State.limitNavigation ? [] : [37, 33, 38, 8];

    
    if($.inArray(key, nextKeys) != -1) {
      if($('#slide-' + Slide.next()).length > 0) { Slide.show(Slide.next()); }
      
      e.preventDefault();
    } else if($.inArray(key, prevKeys) != -1) {
      if($('#slide-' + Slide.prev()).length > 0) { Slide.show(Slide.prev()); }
      
      e.preventDefault();
    }
  });
  
  $('form.ruby_code').live('ajax:success', function(event, data) {
    $.fancybox({
      content: '<pre class="code">' + data + '</pre>',
      autoDimensions: false,
      width: 700,
      height: 500
    });
  });
  
  Slide.updateTime();
  
  Slide.updateTitle();
});
</script>