.feedback {
  text-align: center;
  width: 350px;
  margin: 2em auto;
  
  textarea {
    width: 100%;
    font-family: inherit;
    background-color: #eee;
    padding: .25em;
    border: 1px solid #999;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    border-radius: .25em;
  }
  
  .actions {
    margin-top: 1em;
    
    input[type="submit"] {
      font-size: 2em;
    }
  }
}

.rating {
  float: left;
  width: 100%;
  
  &:not(:checked) {
    > input {
      position: absolute;
      top: -9999px;
      clip: rect(0,0,0,0);
    }
    
    > label {
      float: right;
      width: 1em;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 375%;
      line-height: 1.25em;
      color: #d5e9f6;
      text-shadow: 1px 1px #999, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
      transition: .2s all ease-in;
      -webkit-transition: .2s all ease-in;
      -moz-transition: .2s all ease-in;
      
      &:before {
        content: '★ ·';
      }
    }
    
    > label:hover,
    > label:hover ~ label {
      color: #c00;
      text-shadow:1px 1px #ddd, 2px 2px #fff, .1em .1em .2em rgba(0,0,0,.5);
      transition: .3s all ease-out;
      -webkit-transition: .3s all ease-out;
      -moz-transition: .3s all ease-out;
    }
  }
  
  > label.for-5-stars:hover {
    text-shadow: 0 0 4px white, 0 -2px 3px #ffff33, 2px -4px 6px #ffdd33, -2px -6px 9px #ff8800, 2px -8px 12px #ff2200;
    transition: .3s all ease-out;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
  }
  
  > input:checked ~ label {
    color: #c00;
    text-shadow:1px 1px #ddd, 2px 2px #fff, .1em .1em .2em rgba(0,0,0,.5);
    transition: .3s all ease-out;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
  }
  
  > input:checked + label:hover,
  > input:checked + label:hover ~ label,
  > input:checked ~ label:hover,
  > input:checked ~ label:hover ~ label,
  > label:hover ~ input:checked ~ label {
    color: #c00;
    text-shadow:1px 1px #ddd, 2px 2px #fff, .1em .1em .2em rgba(0,0,0,.5);
  }
  
  > label:active {
    position: relative;
    top: 2px;
    left: 2px;
  }
}