body {
  height: 100%; /* For use percent height in full slides */
}

#modal-code {
  pre {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

#ig_lessons[data-action="show"] {
  .navbar.not-printable {
    display: none;
  }

  .slide.image {
    .navbar {
      display: none;
    }
  }
}

.lesson {
  .slide {
    z-index: 1;
    opacity: 0;
    @include transition(.5s all ease-in);
    
    &:target {
      z-index: 100;
      opacity: 1;
      @include transition(.5s all ease-out);
    }
  }
}

.slide {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 700px;
  overflow: hidden;
  background-color: #fff;

  footer.alert {
    position: fixed;
    margin: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .75;
    border-radius: 0px;

    time {
      font-size: 13px;
      margin-right: 13px;
      padding: .5em;
    }

    .dropdown-menu {
      font-size: 13px;
      line-height: 18px;
    }
  }

  h1 {
    font-size: 81px;
    line-height: 1;
    margin: 36px 0px;
    text-align: center;

    code {
      font-size: 81px;
    }

    small {
      font-size: 24px;
    }
  }

  h1.informal {
    font-size: 96px;
    font-weight: normal;
  }

  li {
    line-height: 1.25;

    .muted, .muted code {
      font-size: 50%;
    }
  }

  p, ul, ol, code, table {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
  }

  p.footnote {
    position: fixed;
    bottom: 3.5em;
    left: 1em;
    font-size: 13px;
    font-style: italic;

    code {
      font-size: inherit;
    }
  }

  p.footnote + p.footnote {
    bottom: 5em;
  }

  sup.footnote {
    font-size: .5em;
  }

  table {
    td, th {
      line-height: inherit;
    }
  }

  ul, ol {
    margin: 0 0 18px 50px;
  }

  .content {
    padding: 60px 20px;
  }

  .code-form {
    form {
      margin-top: 0px;
    }

    textarea {
      font-size: 1.75em;
      line-height: 1.25;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }
  }

  .code-node {
    margin: 36px 0px;
    border: 1px solid #ccc;
    overflow-x: auto;
    overflow-y: hidden;
  }

  
  .informal {
    font-family: 'Reenie Beanie', cursive;
    text-rendering: optimizeLegibility;
  }

  .navbar {
    .badge, .brand {
      font-size: 24px;
      line-height: 1.5;
    }

    .badge {
      width: 1.5em;
      padding: 3px 9px;
      margin-top: 6px;
      font-weight: normal;
      text-align: center;
      border-radius: .25em;
    }
  }

  .node {
    position: relative;

    .edit-code {
      position: absolute;
      top: .5em;
      right: .5em;
    }
  }
}

.slide.image {
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  
  div.content {
    padding: 0em;
  }
  
  header, footer {
    display: none;
  }
  
  h1 {
    padding: .5em 0em;
    text-align: center;
    line-height: 1em;
    letter-spacing: -1px;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    text-shadow: .03em .03em .05em black;
    white-space: nowrap;
  }
}
